@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply !scroll-smooth;
}
@font-face {
  font-family: "inter";
  src: url("/assets/fonts/Inter-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "calibre";
  src: url("/assets/fonts/CalibreBlack.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "calibre";
  src: url("/assets/fonts/CalibreBold.otf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "calibre";
  src: url("/assets/fonts/CalibreLight.otf") format("truetype");
  font-weight: light;
  font-style: normal;
}

body::-webkit-scrollbar {
  @apply hidden;
}

body:has(#splash-container.hidden)::-webkit-scrollbar {
  @apply block w-2;
}
body:has(#splash-container.hidden)::-webkit-scrollbar-thumb {
  @apply bg-light-primary-1 dark:bg-dark-primary-1;
  @apply border-2 border-light-primary-2 dark:border-dark-primary-2;
  @apply rounded-xl;
}

body {
  @apply bg-light-bg-1 text-light-text-1;
  @apply dark:bg-dark-bg-1 dark:text-dark-text-1;
  @apply overflow-x-hidden;
  @apply font-inter;
}

.navlink {
  @apply text-light-text-1;
  @apply dark:text-dark-text-1;
  @apply font-semibold cursor-pointer;
  @apply relative;
  @apply after:content-[''] after:block after:absolute after:-bottom-2 after:w-full after:h-[2px];
  @apply after:bg-light-primary-2 dark:after:bg-dark-primary-2;
  @apply after:scale-0 after:hover:scale-100 after:transition;
}
